<main>
  <h2>POST</h2>
  <div class="post">
    <button class="btn-forum" routerLink="/forum"> Retour à la liste des posts</button>
    <figure>
      <img src="../../../../assets/star_full.png" alt="">
      <figcaption>
        <h2> {{ post.titre }}</h2>
        <h3><span>à</span> {{ post.adresse }}</h3>
        <h3><span>de</span> {{ post.pseudo }}</h3>
        <time>{{ formatDateTime(post.date_de_publication) }}</time>
        <p>{{ post.description }}</p>
      </figcaption>
    </figure>

    <h3>Commentaires</h3>
    <ul>
      <li *ngFor="let comment of comments">
        <div><span>{{ comment.pseudo }} :</span> {{ comment.description }}</div>
        <div>
          <time>{{ formatDateTime(comment.date_de_publication) }}</time>
        </div>
        <button (click)="deleteComment(comment.commentaire_id)">Supprimer</button>
      </li>
    </ul>
    
    <form (ngSubmit)="submitReply()" #replyForm="ngForm">
      <textarea [(ngModel)]="replyMessage" name="replyMessage" required></textarea>
      <button type="submit" [disabled]="replyForm.invalid">Envoyer</button>
    </form>
  </div>


</main>