<main>
    <h2>POST</h2>
    <div class="post">
      <button class="btn-forum" routerLink="/forum"> Retour à la liste des posts</button>
      <figure>
        <img src="{{ post.image }}" alt="">
        <figcaption>
          <h2> {{ post.autreProbleme ? post.autreProbleme : post.objet }}</h2>
          <h3><span>de</span> {{ post.auteur }}</h3>
          <time>{{ formatDateTime(post.date) }}</time>
          <p>{{ post.resume }}</p>
        </figcaption>
      </figure>
    
      <h3>Réponses</h3>
      <ul>
          <li *ngFor="let reply of post.replies">
            <div><span>{{ reply.auteur }} :</span> {{ reply.message }}</div>
            <div>
              <time>{{ formatDateTime(reply.timestamp) }}</time>
            </div>
            <button (click)="deleteReply(reply)">X</button>
          </li>
      </ul>
    
      <form (ngSubmit)="submitReply()" #replyForm="ngForm">
          <textarea [(ngModel)]="replyMessage" name="replyMessage" required></textarea>
          <button type="submit" [disabled]="replyForm.invalid">Envoyer</button>
        </form>
    </div>
    
    
  </main>
  