<main>
    <section>
        <h2>Connexion</h2>
        <hr>
        <form action="get">
            <fieldset>
                <label for="email">email</label>
                <input type="email" name="email" id="email" placeholder="email">
                <label for="password">Mot de passe</label>
                <input type="password" name="password" id="password" placeholder="Mot de passe">
                <input type="submit" value="Connexion">
            </fieldset>
        </form>
    </section>
    <a href="" routerLink="/inscription">S'inscrire si vous n'avez pas de compte</a>
</main>

