main{
    max-width: 110rem;
    padding: 2rem;
    margin: 0 auto;
}
section{
    padding: 3rem;
    max-width: 90rem;
    margin: 2rem auto;
    background-color: #fff;
    border-radius: .75rem;
    box-shadow:  .5rem .5rem 1rem #0000003d,
                -.5rem -.5rem 1rem #ffffff31;
    
}
.info{
    padding: 2rem;
   
}
button{
    border: none;
    padding: 1rem 2rem;
    margin: 0 1rem;
    color: #fff;
    background-color: #354394;
    border-radius: .5rem;
    cursor: pointer;
    transition: all .15s ease-in-out;
}
.info p{
    font-size: 1.6rem;
    margin: 1rem auto;
}
section h2{
    font-size: 4rem;
    color: #000;
    margin: 1rem auto;
    font-weight: bold;
}
time{
    font-size: 1.5rem;
    color: #000;
    margin: 1rem auto;
    font-weight: bold;
}
table{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 1rem;
    margin: 2rem auto;
    padding: 2rem;
    height: 5vh;
    
    overflow-y: scroll;
    background-color: transparent;
}
tr th, tr td{
    text-align: center;
    padding: 1rem;
}
th{
    background-color: #354394;
    color: #fff;
}
tr:nth-child(even) {
    background-color: #eeeeee;
}
main table tr:nth-child(1) th:nth-child(1) {
  border-radius: 1rem 0 0 0;
}
main table tr:nth-child(1) th:last-child {
  border-radius: 0 1rem 0 0;
}
main table tr:last-child td:nth-child(1) {
  border-radius: 0 0 0 1rem;
}
main table tr:last-child td:last-child {
  border-radius: 0 0 1rem 0;
}
.rating {
    display: inline-block;
    font-size: 24px;
    color: #ffd700; /* couleur des étoiles */
  }
  
  .star {
    cursor: pointer;
    width: 25px;
    height: 25px;
    background-image: url('../../../../assets/star_empty.png'); /* icône d'étoile vide */
    background-size: cover;
    display: inline-block;
  }
  
  .star.full {
    background-image: url('../../../../assets/star_full.png'); /* icône d'étoile remplie */
  }
  
  