main{
    padding: 1rem;
    max-width: 110rem;
    margin: 1rem auto;
}
main h2{
    font-size: 4rem;
    margin: 2rem auto;
    font-weight: bold;
    text-align: center;
    color: #fff;
}
main hr{
    margin: 2rem auto;
    width: 100%;
    border: .1rem solid #ffffff;
}
main section{
    padding: 4rem 3rem;
    background-color: #fff;
    border-radius: .75rem;

    box-shadow:  .5rem .5rem 1rem #0000003d,
                -.5rem -.5rem 1rem #ffffff31;
}

main section h2{
    font-size: 3rem;
    font-weight: bold;
    text-align: start;
    margin: 1rem auto;
}
figure{
    padding: 4rem 3rem;
    background-color: #fff;
    border-radius: .75rem;
    height: 40rem;
    box-shadow:  .5rem .5rem 1rem #0000003d,
                -.5rem -.5rem 1rem #ffffff31;
}
figure figcaption a{
    font-size: 2rem;
    display: block;
    font-weight: bold;
    text-align: center;
    margin: 1rem auto;
    border-radius: .5rem;
    background-color: #fafafa;
    color: #1e3799;
    padding: 1rem 2rem;
}
figure figcaption a:hover{
    background-color: #1e3799;
    color: #fff;
}
.reparateur figure img{
    max-width: 15rem;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.reparateur{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin: 1rem auto;
    align-items: center;
    padding: 2rem;

}
button{
    font-size: 2rem;
    display: block;
    margin: 1rem auto;
    font-weight: bold;
    border-radius: .5rem;
    background-color: #ffffff;
    color: #1e3799;
    cursor: pointer;
    padding: 1rem 2rem;
}
main section .google{
    height: 35vh;
    border: .1rem solid #ccc;
}
.reparateur figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
    border-radius: .5rem;
    border: 1px solid #ccc;
    box-shadow: inset 0 0 .3rem #ccc;
}
.reparateur figure h2{
    font-size: 2rem;
    font-weight: bold;
}