main{
    padding: 1rem;
    max-width: 110rem;
    margin: 1rem auto;
}
main h2{
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
}
main section{
    padding: 2rem;
}
main section h2{
    font-size: 3rem;
    font-weight: bold;
    text-align: start;
    margin: 1rem auto;
}
figure figcaption{
    line-height: 2rem;
}
figure figcaption a{
    font-size: 2rem;
    display: block;
    font-weight: bold;
    text-align: center;
    margin: 1rem auto;
    border-radius: .5rem;
    background-color: #f7f7f7;
    color: #1e3799;
    border: solid .1rem rgb(87, 87, 87);
    padding: 1rem 2rem;
}
.reparateur figure img{
    max-width: 15rem;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.reparateur{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin: 1rem auto;
    align-items: center;
    padding: 2rem;

}
main section .google{
    height: 35vh;
    border: .1rem solid #ccc;
}
.reparateur figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    border-radius: .5rem;
    border: 1px solid #ccc;
    box-shadow: inset 0 0 .3rem #ccc;
}
.reparateur figure h2{
    font-size: 2rem;
    font-weight: bold;
}