<main>
    <h2>FORUM</h2>
    <figure>
        <img src="https://cdn.cleanrider.com/uploads/2022/10/Le-Ve%CC%81lo-Mad-Urbain-2-20.jpg" alt="">
        <figcaption>
            <h3>Titre</h3>
            <time>11/04/2002</time>
            <p>Contenu : Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos aperiam quibusdam magnam quasi libero suscipit nam commodi culpa at dolor animi odit, sunt, praesentium quis non! Ducimus quisquam odio nobis.</p>
            <a href="#">Lien vers le réparateur</a>
        </figcaption>
    </figure>
    <figure>
        <img src="https://cdn.cleanrider.com/uploads/2022/10/Le-Ve%CC%81lo-Mad-Urbain-2-20.jpg" alt="">
        <figcaption>
            <h3>Titre</h3>
            <time>11/04/2002</time>
            <p>Contenu : Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, quidem similique eius eum molestiae nesciunt, pariatur vero id velit exercitationem modi. Iure, molestias qui. Doloremque debitis est sapiente maiores doloribus!</p>
            <a href="#">Lien vers le réparateur</a>
        </figcaption>
    </figure>
    <figure>
        <img src="https://cdn.cleanrider.com/uploads/2022/10/Le-Ve%CC%81lo-Mad-Urbain-2-20.jpg" alt="">
        <figcaption>
            <h3>Titre</h3>
            <time>11/04/2002</time>
            <p>Contenu : Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, ea accusamus odit numquam exercitationem nihil animi distinctio culpa, suscipit earum pariatur unde minus consequuntur a et. Excepturi, tempora. Ea, hic.</p>
            <a href="#">Lien vers le réparateur</a>
        </figcaption>
    </figure>
</main>