<main>
  <h2>FORUM</h2>
  <section class="filter-section">
    <button class="btn-poster" routerLink="/post-probleme">Nouveau problème</button>
    <input type="text" [(ngModel)]="searchText" (input)="filterPosts()" placeholder="Rechercher...">
    <button class="btn-poster" (click)="loadPosts()">Actualiser</button>
  </section>

  <figure *ngFor="let post of (filteredPosts.length > 0 ? filteredPosts : posts)">
    <img [src]="post.image" alt="">
    <figcaption>
      <h2>{{ post.titre }}</h2>
      <h3>
        <span>Publié par :</span>
        <ng-container *ngIf="post.pseudo; else profilSupprime"> {{ post.pseudo }} </ng-container>
        <ng-template #profilSupprime> Profil supprimé </ng-template>
      </h3>
      <h3><span>Adresse :</span> {{ post.adresse }}</h3>
      <p><strong>Description :</strong> {{ post.description }}</p>
      <div class="post-activity">
        Dernière activité : {{  formatDateTime(post.date_mise_a_jour) }}
        <!-- <div *ngIf="post.replies && post.replies.length > 0">
          <div>Dernière activité : {{ formatDateTime(getLastActivityDate(post)) }}</div>
        </div>
        <div *ngIf="!(post.replies && post.replies.length > 0)">
          <div>Aucune activité</div>
        </div> -->
      </div>
      <a [routerLink]="['/post', post.probleme_id]">Voir la publication</a>
    </figcaption>
    <button class="delete-button" (click)="supprimerProbleme(post.probleme_id)">
      <i class="material-icons">delete</i>
    </button>  
  </figure>
</main>
