
main{
    padding: 1rem;
    max-width: 140rem;
    margin: 1rem auto;
    
}
main h2{
    font-size: 4rem;
    color: #fff;
    margin: 2rem auto;
    font-weight: bold;
    text-align: center;
}
h3{
    font-size: 1.8rem;
    font-weight: bold;
    margin: 0 auto 1rem auto;
    color: #000000d5;
}
h3 span{
    font-weight: normal;
}
figure{
    margin: 2rem auto;
    box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.179);
    padding: 1rem 2rem;
    background-color: #fff;
    border-radius: .75rem;

    box-shadow:  .5rem .5rem 1rem #0000003d,
                -.5rem -.5rem 1rem #ffffff31;
    align-items: center;
    display: flex;
    position: relative;

}
figure img{
    width: 15rem;
    height: 15rem;
    object-fit: contain;
}
figure figcaption{
    padding: 1rem;
    margin: 0rem 2rem;
    
}
figure figcaption p{
    padding: 1rem 0;
}
figure figcaption h2{
    font-size: 3rem;
    color: #000;
    font-weight: bold;
    text-transform: capitalize;
    text-align: start;
    margin: 1rem auto;
}
time{
    font-size: 1.8rem !important;
    font-weight: regular !important;
    text-align: start;
    color: #001343;
}
.filter-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1rem auto;
    padding: 1rem 2rem;
    border-radius: .5rem;
    background-color: #fafafa;
    box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.179);
}
.filter-section input{
    padding: 1rem;
    margin: 1rem auto;
    border-radius: .5rem;
    width: 60rem;
    background-color: #f7f7f7;
    border: solid .1rem #ccc;
}
figure figcaption time{
    font-size: 2rem;
    font-weight: bold;
    text-align: start;
    margin: 1rem auto;
} 
figure figcaption a{
    font-size: 2rem;
    display: inline-block;
    font-weight: bold;
    padding: 2rem 1rem;
    margin: 1rem auto;
    border-radius: .5rem;
    background-color: #fafafa;
    color: #1e3799;
    padding: 1rem 2rem;
    transition: all .4s ease-in-out;

}
figure figcaption a:hover{
    background-color: #1e3799;
    color: #fff;
}
.btn-poster{
    background-color: #1e3799;
    color: #fff;
    cursor: pointer;
    border: none;
    font-weight:600;
    padding: 1rem 2rem;
    border-radius: 5px;
  }
figure button{
    display: flex;
    background-color: #1e3799;
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem;
    border-radius: .5rem;
    padding: 1.5rem;
    cursor: pointer;
    transition: all .4s ease-in-out;
}
figure button:hover{
   color: rgb(255, 255, 255);
   background-color: red;
}