<main>
    <section>
        <h2>Inscription</h2>
        <hr>
        <form action="get">
            <fieldset>
                <label for="pseudo">Pseudo</label>
                <input type="text" name="pseudo" id="pseudo" placeholder="Pseudo">
                <label for="email">email</label>
                <input type="email" name="email" id="email" placeholder="Email">
                <label for="password">Mot de passe</label>
                <input type="password" name="password" id="password" placeholder="Mot de passe">
                <input type="submit" value="Inscription">
            </fieldset>
        </form>
    </section>
</main>

