<main>
  <h2>Liste des utilisateurs</h2>
  <table>
    <tr>
      <th>ID</th>
      <th>Pseudo</th>
      <th>Prénom</th>
      <th>Nom</th>
      <th>Email</th>
      <th>Mot de passe</th>
      <th>Role Utilisateur</th>
      <th>Date de création</th>
      <th>Date de mise à jour</th>
      <th>Actions</th>
    </tr>
    <tr *ngFor="let utilisateur of utilisateurs">
      <td>{{ utilisateur.utilisateur_id }}</td>
      <td>
        <ng-container *ngIf="!utilisateur.editionEnCours">{{ utilisateur.pseudo }}</ng-container>
        <input type="text" [(ngModel)]="utilisateur.nouveauPseudo" *ngIf="utilisateur.editionEnCours">
      </td>
      <td>
        <ng-container *ngIf="!utilisateur.editionEnCours">{{ utilisateur.prenom }}</ng-container>
        <input type="text" [(ngModel)]="utilisateur.nouveauPrenom" *ngIf="utilisateur.editionEnCours">
      </td>
      <td>
        <ng-container *ngIf="!utilisateur.editionEnCours">{{ utilisateur.nom }}</ng-container>
        <input type="text" [(ngModel)]="utilisateur.nouveauNom" *ngIf="utilisateur.editionEnCours">
      </td>
      <td>
        <ng-container *ngIf="!utilisateur.editionEnCours">{{ utilisateur.mail }}</ng-container>
        <input type="text" [(ngModel)]="utilisateur.nouvelEmail" *ngIf="utilisateur.editionEnCours">
      </td>
      <td>
        <ng-container *ngIf="!utilisateur.editionEnCours">{{ utilisateur.mdp ? '********' : '' }}</ng-container>
        <input type="password" [(ngModel)]="utilisateur.nouveauMotDePasse" *ngIf="utilisateur.editionEnCours">
      </td>
      <td>{{ utilisateur.role_utilisateur_id }}</td>
      <td>
        {{ formatDateTime(utilisateur.date_de_publication) }}
      </td>
      <td>
        {{ formatDateTime(utilisateur.date_mise_a_jour) }}
      <td>

        <ng-container *ngIf="!utilisateur.editionEnCours">
          <i class="material-icons" (click)="editerUtilisateur(utilisateur)">create</i>
          <i class="material-icons" (click)="supprimerUtilisateur(utilisateur.utilisateur_id)">delete</i>
          <i class="material-icons" (click)="makeUserAdmin(utilisateur.utilisateur_id)">how_to_reg</i>
          <i class="material-icons" (click)="bannirUtilisateur(utilisateur.utilisateur_id)">gavel</i>
        </ng-container>
        <ng-container *ngIf="utilisateur.editionEnCours">
          <i class="material-icons" (click)="enregistrerEdition(utilisateur)">done</i>
          <i class="material-icons" (click)="annulerEdition(utilisateur)">close</i>
        </ng-container>
      </td>

    </tr>
  </table>
  <!-- ... -->
  <h2>Liste des problèmes</h2>
  <table>
    <tr>
      <th>ID</th>
      <th>Titre</th>
      <th>Adresse</th>
      <th>Description</th>
      <th>ID Utilisateur</th>
      <th>Pseudo Auteur</th>
      <th>Date de publication</th>
      <th>Date de mise à jour</th>
      <th>Actions</th>
    </tr>
    <tr *ngFor="let probleme of problemes">
      <td>{{ probleme.probleme_id }}</td>
      <td>
        <ng-container *ngIf="!probleme.editionEnCours">{{ probleme.titre }}</ng-container>
        <input type="text" [(ngModel)]="probleme.nouveauTitre" *ngIf="probleme.editionEnCours">
      </td>
      <td>
        <ng-container *ngIf="!probleme.editionEnCours">{{ probleme.adresse }}</ng-container>
        <input type="text" [(ngModel)]="probleme.nouvelleAdresse" *ngIf="probleme.editionEnCours">
      </td>
      <td>
        <ng-container *ngIf="!probleme.editionEnCours">{{ probleme.description }}</ng-container>
        <textarea [(ngModel)]="probleme.nouvelleDescription" *ngIf="probleme.editionEnCours"></textarea>
      </td>
      <td>{{ probleme.utilisateur_id }}</td>
      <td>
        <ng-container *ngIf="probleme.utilisateur_pseudo; else profilSupprime">{{ probleme.utilisateur_pseudo
          }}</ng-container>
        <ng-template #profilSupprime>Profil Supprimé</ng-template>
      </td>
      <td>
        {{ formatDateTime(probleme.date_de_publication) }}
      </td>
      <td>
        {{ formatDateTime(probleme.date_mise_a_jour) }}
      </td>
      <td>
        <ng-container *ngIf="!probleme.editionEnCours">
          <i class="material-icons" (click)="editerProbleme(probleme)">create</i>
          <i class="material-icons" (click)="supprimerProbleme(probleme.probleme_id)">delete</i>
          <i class="material-icons" (click)="toggleCommentsDisplay(probleme.probleme_id)">{{ commentsLoadedMap[probleme.probleme_id] ? 'remove_circle_outline' : 'add_circle_outline' }}</i>
          <div *ngIf="commentsLoadedMap[probleme.probleme_id]">
            <h3>Commentaires du problème "{{ probleme.titre }}"</h3>
            <ul>
              <li *ngFor="let comment of comments">
                <ng-container *ngIf="comment.pseudo; else profilSupprime">
                  <strong>{{ comment.pseudo }} </strong> - {{ comment.description }} - {{ formatDateTime(comment.date_de_publication) }}
                </ng-container>
                <ng-template #profilSupprime>
                  <strong>Profil Supprimé </strong>- {{ comment.description }} - {{ formatDateTime(comment.date_de_publication) }}
                </ng-template>
                <i class="material-icons" (click)="supprimerCommentaire(comment.commentaire_id, probleme.probleme_id)">delete</i>
              </li>
            </ul>
          </div>
        </ng-container>
        <ng-container *ngIf="probleme.editionEnCours">
          <i class="material-icons" (click)="enregistrerEditionProbleme(probleme)">done</i>
          <i class="material-icons" (click)="annulerEditionProbleme(probleme)">close</i>
        </ng-container>
      </td>
    </tr>
  </table>
</main>