<h2>Liste des utilisateurs</h2>
<table>
  <tr>
    <th>ID</th>
    <th>Pseudo</th>
    <th>Prénom</th>
    <th>Nom</th>
    <th>Email</th>
    <th>Mot de passe</th>
    <th>Actions</th>
  </tr>
  <tr *ngFor="let utilisateur of utilisateurs">
    <td>{{ utilisateur.utilisateur_id }}</td>
    <td>{{ utilisateur.pseudo }}</td>
    <td>{{ utilisateur.prenom }}</td>
    <td>{{ utilisateur.nom }}</td>
    <td>{{ utilisateur.mail }}</td>
    <td>{{ utilisateur.mdp }}</td>
    <td>
      <button (click)="supprimerUtilisateur(utilisateur.utilisateur_id)">Supprimer</button>
    </td>
  </tr>
</table>
